<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>BeerBars App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="lib/angular-material/angular-material.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/app.css"/>    

 	<!-- Angular Material Dependencies -->
    <script src="lib/angular-js/angular.min.js"></script>
    <script src="lib/angular-js/angular-ui-route.min.js"></script>
    <script src="lib/angular-js/angular-animate.min.js"></script>
    <script src="lib/angular-js/angular-aria.min.js"></script>
    
    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="lib/angular-material/angular-material.min.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <!-- App Javascript -->
    <script src="src/starter.js"></script>
    <script src="src/navigationcontroller.js"></script>
    <script src="src/bares/barescontroller.js"></script>
<!--     <script src="src/users/Users.js"></script> -->
<!--     <script src="src/users/UserController.js"></script> -->
<!--     <script src="src/users/UserService.js"></script> -->
    
        <!-- Angular JS - i18n -->
    <script src="i18n/angular-locale_pt-br.js"></script>
    <script src="lib/angular-translate/angular-translate.min.js"></script>
    <script src="src/internacionalization.js"></script>

  </head>

  <body ng-app="starter" layout="row">

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h1>{{::'LABEL.GENERAL.MENUTITLE' | translate}}</h1>
    </md-toolbar>

    <md-list>
      <md-list-item >
          <md-button ui-sref="login" >
            <md-icon>person</md-icon>
            Login
          </md-button>
          
      </md-list-item>
      <md-list-item>
      	<md-button ui-sref="bares" >
            <md-icon>local_bar</md-icon>
            Bares
          </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" 
    			class="md-whiteframe-z1">
    <!-- ng-controller="NavigationController as navctrl" -->
    
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h1>{{::'LABEL.GENERAL.APPTITLE' | translate}}</h1>
    </md-toolbar>

	<md-content ui-view
	            md-scroll-y
	            role="main">
	</md-content>

<!--     <md-content flex id="content"> -
->
<!--         <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon> -->
<!--         <h2>{{ul.selected.name}}</h2> -->
<!--         <p>{{ul.selected.content}}</p> -->

<!-- 		<md-content flex layout-align="rigth"> -->
<!-- 	        <md-button class="md-fab" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User"> -->
<!-- 	          <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip> -->
<!-- 	          <md-icon md-svg-icon="share"></md-icon> -->
<!-- 	        </md-button> -->
<!--         </md-content> -->
<!--       </md-content> -->

  </div>

  </body>
</html>
